/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

/* 
/* .heading{
    color: red;
    background-color: blanchedalmond;
    border: 1px solid black;
}
h1{
    border: inherit;
}
p{
    color: red !important;
}
#para{
    color: blue;
}
p{
    color: green ;
}
.paragraph{
    color:rgb(117, 72, 72)  ;
/* } */ 
/* 
@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
}

body{
  font-family: Poppins;
} */
 /* @font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
} */
/* p{
    /* font-family: Arial, Helvetica, sans-serif; */
   /* font-family: "Playwrite NZ Guides", cursive; */
    /* font-size: x-large;

    font-weight: 200;
    font-style: italic; */
/* } */ 
.heading{
    color: red; 
    background-color:rgba(255, 187, 0, 0.178);
    /* background-color: brown; */
    /* opacity: 0.56; */
    width: 50%; 
    height: 300px;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body{
    font-family:'Montserrat' ;
}

h3{
    text-transform: capitalize;
        /* font-weight: 400; */
    font-style: normal;

}